<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>:: Aisha HTML5 Responsive Templete ::</title>
    <!-- normalizar -->
    <link href="css/normalize.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>


    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!--fontawesome-->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!--animation-->
    <link href="css/animate.min.css" rel="stylesheet">

    <!--main css-->
    <link href="css/style.css" rel="stylesheet">

    <!--main css-->
    <link href="css/responsive.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="preloader">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    </div>
    
    <header id="header_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo">
                        <h2><a href="">VFB Capital</a></h2>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">Home</a>
                                    </li>
                                    <li><a href="#">About</a>
                                    </li>
                                    <li><a href="#">blog</a>
                                    </li>
                                    <li><a href="#">Portfolio</a>
                                    </li>
                                    <li><a href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="header_area_text">
                        <h2 class="wow slideInDown" data-wow-duration="2s">We’re here to create your
online presense and style</h2>
                        <p class="wow slideInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis orci dapibus risus dignissim, viverra pellentesque arcu ullamcorper. Mauris a tincidunt lectus. Proin nec venenatis quam. </p>
                        <a class="wow slideInUp" data-wow-duration="2s" href="">START  TODAY  with  us</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header top area -->


    <section id="features_area" class="section_padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Our Objectives</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="single_feature wow slideInUp" data-wow-duration="1s">
                        <i class="fa fa-user"></i>
                        <h3>7% return in 2 months</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_feature wow slideInUp" data-wow-duration="2s">
                        <i class="fa fa-flag"></i>
                        <h3>SX5E investment spectrum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_feature wow slideInUp" data-wow-duration="3s">
                        <i class="fa fa-paint-brush"></i>
                        <h3>No leverage</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end features area -->

    <section id="story_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="story_image wow slideInLeft" data-wow-duration="2s">
                        <img src="assets/cg.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="story_text wow slideInRight" data-wow-duration="2s">
                        <h2>Our Long-Short Fund: Aspire</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                        <a href="">Download Aspire's Weekly Report</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of story area -->


    <section id="clients_say_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Meet Our Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p align="justify">Valentin co-founded VFB capital in 2016 after spending 10 years in the hedge fund industry.
                        Prior to VFB Capital, Valentin was head of the high frequency arbitrage desk at Two Sigma, a New York Based Hedge Fund.
                        He is an Alumni of the Cass Business School of London and of the Master 203 of the University Paris Dauphine.
                      	</p>
                        <div class="clients_say_list fix">
                            <div class="say floatleft">
                                <h5>Valentin Frechu</h5>
                                <h6>Founding Partner,Head of Algorythmic Asset Management</h6>
                            </div>
                            <div class="c_img floatright">
                                <img src="assets/vf.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p align="justify">Benjamin is a legend in the Asset Management business. He is known as the man who brought back Deutsche Bank Asset Management (now part of BNP Asset Management) from the dead after Deutsche Bank bankruptcy in the late 2016. His natural talent for anticipating market moves is a real asset for VFB Capital Management. He is an Alumni of the Master 203 of the University Paris Dauphine</p>
                        <div class="clients_say_list fix">
                            <div class="say floatleft">
                                <h5>Benjamin Mehouas</h5>
                                <h6>Founding Partner,Head Portfolio Manager</h6>
                            </div>
                            <div class="c_img floatright">
                                <img src="assets/bm.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p align="justify">Freddy, as we call him, is a born and raised German (the legend says that he drunk beer before milk). After spending 10 years at HSBC where he was Global Head of Sales, he decided to co-found VFB Capital with is former classmates. His strong personality and persuasion capacities brought him naturally to manage the VFB Capital Sales Forces. He is an Alumni of the Master 203 of the University Paris Dauphine</p>
                        <div class="clients_say_list fix">
                            <div class="say floatleft">
                                <h5>Friedrich Bueckle</h5>
                                <h6>Founding Partner, Head of Sales</h6>
                            </div>
                            <div class="c_img floatright">
                                <img src="assets/fb.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </section>
    <!-- end clients say area -->

    <section id="Experience_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="experience wow slideInLeft">
                        <h2>Our Experience</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                        <a href="">View case studies</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills">
                       <h2>Skills</h2>
                        <div class="skill_right">

                            <p>C++ development</p>
                            <div class="progress wow slideInUp">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    60%
                                </div>
                            </div>

                            <p>Photoshop</p>
                            <div class="progress wow slideInUp">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    60%
                                </div>
                            </div>

                            <p>.Net</p>
                            <div class="progress wow slideInUp">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    60%
                                </div>
                            </div>

                            <p>Argular js</p>
                            <div class="progress wow slideInUp">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    60%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end experience area -->

    <section id="blog_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single_blog wow slideInUp" data-wow-duration="1s">
                        <img class="img-responsive" src="assets/1.jpg" alt="">
                        <h2>Technical Analysis</h2>
                        <div class="comment_area fix">
                            <div class="date floatleft">
                                <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>
                            </div>
                            <div class="comment floatright">
                                <p><span><i class="fa fa-comments"></i></span>2 comments</p>
                            </div>
                        </div>
                        <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_blog wow slideInUp" data-wow-duration="2s">
                        <img class="img-responsive" src="assets/2.jpg" alt="">
                        <h2>Algorythmic Trading</h2>
                        <div class="comment_area fix">
                            <div class="date floatleft">
                                <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>
                            </div>
                            <div class="comment floatright">
                                <p><span><i class="fa fa-comments"></i></span>2 comments</p>
                            </div>
                        </div>
                        <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_blog wow slideInUp" data-wow-duration="3s">
                        <img class="img-responsive" src="assets/3.jpg" alt="">
                        <h2>Analyst Recommandations</h2>
                        <div class="comment_area fix">
                            <div class="date floatleft">
                                <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>
                            </div>
                            <div class="comment floatright">
                                <p><span><i class="fa fa-comments"></i></span>2 comments</p>
                            </div>
                        </div>
                        <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end blog area -->

    <section id="caal_to_action_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="call_to_action_text wow slideInLeft" data-wow-duration="2s">
                        <h2>Are you ready to go?</h2>
                        <p>Here the call to action area. Lorem ipsum dolor sit amet and click to the button</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="call_project text-right wow slideInRight" data-wow-duration="2s">
                        <a href="">Invest in Aspire Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end call to action area -->


    <footer id="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="company_logo wow slideInDown">
                        <h2>VFB Capital</h2>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="company_address wow slideInDown">
                        <h2>Paris</h2>
                        <p>16 rue du Bac, 75007
                        </p>
                        <h3>
                            +33 87 81 22 99 72
                            info@vfbcapital.com </h3>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="company_address wow slideInDown">
                        <h2>Nice</h2>
                        <p>1 quai des Etats-Unis, 0600
                        </p>
                        <h3>
                            +44 800 800 90
                            info@vfbcapital.com </h3>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="company_address wow slideInDown">
                        <h2>Stuttgart</h2>
                        <p>No Address
                        </p>
                        <h3>
                            +44 800 800 90
                            info@vfbcapital.com </h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- main jQuery-->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>

    <!-- wow js -->
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <!-- main js -->
    <script src="js/main.js"></script>

</body>

</html>